*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

body{
    max-width: 1920px;
}