.header{
    overflow: hidden;
    transition: 0.5s; 
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $main-color;
    z-index: 999;
    .main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        &__logo {
            img{
                vertical-align: middle;
            }
        }
        &__list{
            display: flex;
            gap: 40px;
        }
        &__cart{
            margin-left: 14px;
            padding: 3px 8px;
            border-radius: 12px;
            font-family: $ff-montserrat;
            color: $main-color;
            background-color: #333333;
        }
        &__item:last-child{
            margin-left: 15px;
        }
        &__link{
            font: var(--fz-main) $ff-montserrat ;
            font-weight: 400;
            color: $black;
        }
        a:hover{
            color: rgb(223, 41, 41);
            transform: scale(1.2);
        }
        &__icon{
            display: none;
        }
    } 
}

.carousel{
    margin-top: 80px;
    background-color: $box-color;
}

.swiper{
    max-height: 800px;
    min-height: 375px;
    height: 50vw;
    width: 100%;
    position: relative;
    img{
        height: 100%;
        width: 100%;
        position: absolute;
        vertical-align: middle;
        object-fit: cover;
    }
    &-slide{
        &__content{
            position: absolute;
            top: 39.5%;
            left: 24.3%;
        }
        &__title{
            margin-bottom: 16px;
            font: var(--fz-banner) $ff-montserrat;
            font-weight: 700;
            line-height: 59px;
            color: $black;
        }
        &__text{
            max-width: 487px;
            height: auto;
            font: var(--fz-main) $ff-roboto;
            font-weight: 400;
            line-height: 126%;
            word-wrap: break-word;
            color: $footer-color;
        }
    }
    &-button-prev{
        margin-left: 18.5%; 
        cursor: pointer;
        &::after{
            font-size: 30px !important;
            color: #1E1E1E;
        }
        &:hover{
            opacity: 0.6;
        }
     }
    &-button-next{
        cursor: pointer;
       margin-right: 18.5%; 
       &::after{
        font-size: 30px !important;
        color: #1E1E1E;
       }
       &:hover{
        opacity: 0.6;
        }
    }
    &-pagination-bullet{
        width: 10px !important;
        height: 10px !important;
        border: 1px solid $black;
        background-color: $black !important;
    }
}
.swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 32px !important;
}
.feature-products{
    width: 100%;
    margin-top: 86px;
    &__title{
        font: var(--fz-title) $ff-montserrat;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
    }
    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        margin: 32px auto;
    }
    &__item{
        max-width: 580px;
        width: 100%;
        &.left{
            margin-right: 32px;
            background-color: $box-color;
            border-radius: $box-border-radius;
        }
        &.right{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            gap: 32px;
        }
    }
    &__img{
        padding-top: 100%;
    }
    &__top{
        display: flex;
        flex-direction: row;
        gap: 32px;
        &--right, &--left{
            max-width: 274px;
            width: 100%;
            background-color: $box-color;
            border-radius: $box-border-radius;
        }
        .img{
            padding-top: 100%;
        }
    }
    &__bottom{
        max-width: 580px;
        width: 100%;
        border-radius: $box-border-radius;
        background-color: $box-color;
        .img{
            padding-top: 47.2413793103%;
        }
    }
}

.our-products{
    width: 100%;
    margin-top: 150px;
    &__title{
        font: var(--fz-title) $ff-montserrat;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
        color: $black;
    }
    &__categories{
        margin: 32px auto;
        border-radius: $box-border-radius;
        background-color: $box-color;
    }
    &__navtabs{
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__tab{
        position: relative;
        padding: 0px 64px;
        .active::after, a:hover::after{
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            margin-top: 17px;
            position: absolute;
            background-color: $black;
            transition: all 0.3s ease;
        }
        a:hover{
            color: $black;
            transform: scale(3.4);
        }
        b{  
            color: $black;
        }
        a{
            position: relative;
            font: var(--fz-navtabs) $ff-montserrat;
            font-weight: 400;
            line-height: 22px;
            color: #656565;
        }
        &--icon{
            margin-left: 8px;
        }
        &--icon:hover{
            opacity: 0.5;
            cursor: pointer;
        }
    }
    &__select{
        display: none;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
    &__card{
        width: 376px;
    }
    &__item{
        max-width: 376px;
        width: 100%;
        background-color: $box-color;
        border-radius: $box-border-radius;
    }
    &__img{
        padding-top: 65.6914893617%;
    }
    &__name{
        margin: 15px 0 0 0;
    }
    &__link{
        font: var(--fz-products) $ff-montserrat;
        font-weight: 700;
        line-height: 130%;
        color: $footer-color;
    }
    &__price{
        margin-top: 3px;
        font: var(--fz-main) $ff-montserrat;
        font-weight: 400;
        line-height: 18px;
        color: $footer-color;
    }
}

.about-us{
    max-height: 900px;
    min-height: 375px;
    height: 47vw;
    margin-top: 75px;
    background-color: $box-color;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__title{
        font: var(--fz-title) $ff-montserrat;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
        color: $black;
    }
    &__content{
        max-width: 581px;
        margin: 32px 0;
        font: var(--fz-main) $ff-roboto;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        word-wrap: break-word;
        color: $footer-color;
    }
    &__btn{
        width: 172px;
        height: 50px;
        border-radius: $box-border-radius;
        font: var(--fz-main) $ff-roboto;
        font-weight: 400;
        line-height: 18px;
        color: #F2F2F2;
        background-color: #333333;
    } 
}

footer{
    background-color: $footer-color;
    .footer-signup{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px 0;
        &__title{
            font: 16px $ff-poppins;
            font-weight: 700;
            line-height: 24px;
            color: $main-color;
            margin-bottom: 16px;
        }
        &__form{
            display: flex;
            max-width: 616px;
            min-width: 260px;
            margin: 0 auto 0;
            background-color: white;
            border-radius: 99px;
            overflow: hidden;
            input{
                display: flex;
                flex: 1;
                min-height: 48px;
                padding-left: 40px;
                border-radius: 99px;
                border: none;
                outline: none;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 48px;
                height: 100%;
                padding: 0 40px;
                font-family: $ff-poppins;
                font-size: 15px;
                font-weight: 600;
                background-color: white;
                border-radius: 99px;
                border: none;
                cursor: pointer;
                transition: 0.3s;
            }
            button:hover{
                background: #1E1E1E;
                color: #F2F2F2;
            }
        }
        &__email::placeholder{
            font-size: var(--fz-main);
            font-family: $ff-poppins;
            font-weight: 300;
            line-height: 150%;
            color: #9A9A9A;
            opacity: 0.6;
        }
    }
    .footer-infor{
        padding: 63px 0;
        width: 100%;
        border-top: 1px solid #606060;
        border-bottom: 1px solid #606060;
        &__wrapper{
            display: flex;
            justify-content: space-around;
            max-width: 938px;
            height: 106px;
            margin: 0 auto;
        }
        &__title{
            font: var(--fz-title) $ff-montserrat;
            font-weight: 700;
            line-height: 39px;
            color: $main-color;
        }
        &__site{
            &--title{
                padding-bottom: 16px;
                font: var(--fz-navtabs) $ff-montserrat;
                color: #9D9D9D;
            }
            &--list a{
                font: var(--fz-main) $ff-montserrat;
                color: $main-color;
            }
        }
        &__terms{
            &--title{
                padding-bottom: 16px;
                color: #9D9D9D;
                font: var(--fz-navtabs) $ff-montserrat;
            }
            &--list a{
                color: $main-color;
                font: var(--fz-main) $ff-montserrat;
            }
        }
        li:nth-child(1){
            padding: 16px 0;
        } 
        &__circle{
            display: flex;
            gap: 16px;
            &--item{
                width: 32px;
                height: 32px;
                border: 2px solid $main-color;
                border-radius: 99px;
            }
        }
    }
    .footer-copyright{
        &__text{
            padding: 32px 0 33px 0;
            font: 13px $ff-roboto;
            font-weight: 400;
            line-height: 15px;
            text-align: center;
            color: #F2F2F2;
        }
    }
}
    


