* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  vertical-align: middle;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

:root {
  --fz-main: 15px;
  --fz-navtabs: 18px;
  --fz-products: 20px;
  --fz-title: 32px;
  --fz-banner: 48px;
}

@media only screen and (max-width: 1400px) {
  :root {
    --fz-main: 14px;
    --fz-navtabs: 16px;
    --fz-products: 17px;
    --fz-title: 30px;
    --fz-banner: 40px;
  }
}
@media only screen and (max-width: 940px) {
  :root {
    --fz-main: 13px;
    --fz-navtabs: 15px;
    --fz-products: 15px;
    --fz-title: 28px;
    --fz-banner: 32px;
  }
}
@media only screen and (max-width: 640px) {
  :root {
    --fz-main: 11px;
    --fz-navtabs: 13px;
    --fz-products: 15px;
    --fz-title: 25px;
    --fz-banner: 30px;
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --fz-main: 9px;
    --fz-navtabs: 11px;
    --fz-products: 13px;
    --fz-title: 23px;
    --fz-banner: 28px;
  }
}
.container {
  max-width: 1224px;
  width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 999;
}
header .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .main-nav__logo img {
  vertical-align: middle;
}
header .main-nav__list {
  display: flex;
  gap: 40px;
}
header .main-nav__cart {
  margin-left: 14px;
  padding: 3px 8px;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  background-color: #333333;
}
header .main-nav__item:last-child {
  margin-left: 15px;
}
header .main-nav__link {
  font: var(--fz-main) "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000;
}
header .main-nav a:hover {
  color: rgb(223, 41, 41);
  transform: scale(1.2);
}
header .main-nav__icon {
  display: none;
}

.carousel {
  margin-top: 80px;
  background-color: #E1E1E1;
}

.swiper {
  max-height: 800px;
  min-height: 375px;
  height: 50vw;
  width: 100%;
  position: relative;
}
.swiper img {
  height: 100%;
  width: 100%;
  position: absolute;
  vertical-align: middle;
  object-fit: cover;
}
.swiper-slide__content {
  position: absolute;
  top: 39.5%;
  left: 24.3%;
}
.swiper-slide__title {
  margin-bottom: 16px;
  font: var(--fz-banner) "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 59px;
  color: #000000;
}
.swiper-slide__text {
  max-width: 487px;
  height: auto;
  font: var(--fz-main) "Roboto", sans-serif;
  font-weight: 400;
  line-height: 126%;
  word-wrap: break-word;
  color: #404040;
}
.swiper-button-prev {
  margin-left: 18.5%;
  cursor: pointer;
}
.swiper-button-prev::after {
  font-size: 30px !important;
  color: #1E1E1E;
}
.swiper-button-prev:hover {
  opacity: 0.6;
}
.swiper-button-next {
  cursor: pointer;
  margin-right: 18.5%;
}
.swiper-button-next::after {
  font-size: 30px !important;
  color: #1E1E1E;
}
.swiper-button-next:hover {
  opacity: 0.6;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #000000;
  background-color: #000000 !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 32px !important;
}

.feature-products {
  width: 100%;
  margin-top: 86px;
}
.feature-products__title {
  font: var(--fz-title) "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
}
.feature-products__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 32px auto;
}
.feature-products__item {
  max-width: 580px;
  width: 100%;
}
.feature-products__item.left {
  margin-right: 32px;
  background-color: #E1E1E1;
  border-radius: 10px;
}
.feature-products__item.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 32px;
}
.feature-products__img {
  padding-top: 100%;
}
.feature-products__top {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.feature-products__top--right, .feature-products__top--left {
  max-width: 274px;
  width: 100%;
  background-color: #E1E1E1;
  border-radius: 10px;
}
.feature-products__top .img {
  padding-top: 100%;
}
.feature-products__bottom {
  max-width: 580px;
  width: 100%;
  border-radius: 10px;
  background-color: #E1E1E1;
}
.feature-products__bottom .img {
  padding-top: 47.2413793103%;
}

.our-products {
  width: 100%;
  margin-top: 150px;
}
.our-products__title {
  font: var(--fz-title) "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  color: #000000;
}
.our-products__categories {
  margin: 32px auto;
  border-radius: 10px;
  background-color: #E1E1E1;
}
.our-products__navtabs {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-products__tab {
  position: relative;
  padding: 0px 64px;
}
.our-products__tab .active::after, .our-products__tab a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 17px;
  position: absolute;
  background-color: #000000;
  transition: all 0.3s ease;
}
.our-products__tab a:hover {
  color: #000000;
  transform: scale(3.4);
}
.our-products__tab b {
  color: #000000;
}
.our-products__tab a {
  position: relative;
  font: var(--fz-navtabs) "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #656565;
}
.our-products__tab--icon {
  margin-left: 8px;
}
.our-products__tab--icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
.our-products__select {
  display: none;
}
.our-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.our-products__card {
  width: 376px;
}
.our-products__item {
  max-width: 376px;
  width: 100%;
  background-color: #E1E1E1;
  border-radius: 10px;
}
.our-products__img {
  padding-top: 65.6914893617%;
}
.our-products__name {
  margin: 16px 0 0 0;
}
.our-products__link {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font: var(--fz-products) "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 130%;
  color: #404040;
}
.our-products__price {
  margin-top: 4px;
  font: var(--fz-main) "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 18px;
  color: #404040;
}

.about-us {
  max-height: 900px;
  min-height: 375px;
  height: 47vw;
  margin-top: 75px;
  background-color: #E1E1E1;
}
.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.about-us__title {
  font: var(--fz-title) "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  color: #000000;
}
.about-us__content {
  max-width: 581px;
  margin: 32px 0;
  font: var(--fz-main) "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  word-wrap: break-word;
  color: #404040;
}
.about-us__btn {
  width: 172px;
  height: 50px;
  border-radius: 10px;
  font: var(--fz-main) "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  color: #F2F2F2;
  background-color: #333333;
}

footer {
  background-color: #404040;
}
footer .footer-signup {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}
footer .footer-signup__title {
  font: 16px "Poppins", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
footer .footer-signup__form {
  display: flex;
  max-width: 616px;
  min-width: 260px;
  margin: 0 auto 0;
  background-color: white;
  border-radius: 99px;
  overflow: hidden;
}
footer .footer-signup__form input {
  display: flex;
  flex: 1;
  min-height: 48px;
  padding-left: 40px;
  border-radius: 99px;
  border: none;
  outline: none;
}
footer .footer-signup__form button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  height: 100%;
  padding: 0 40px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
footer .footer-signup__form button:hover {
  background: #1E1E1E;
  color: #F2F2F2;
}
footer .footer-signup__email::placeholder {
  font-size: var(--fz-main);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 150%;
  color: #9A9A9A;
  opacity: 0.6;
}
footer .footer-infor {
  padding: 63px 0;
  width: 100%;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
}
footer .footer-infor__wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 938px;
  height: 106px;
  margin: 0 auto;
}
footer .footer-infor__title {
  font: var(--fz-title) "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 39px;
  color: #FFFFFF;
}
footer .footer-infor__site--title {
  padding-bottom: 16px;
  font: var(--fz-navtabs) "Montserrat", sans-serif;
  color: #9D9D9D;
}
footer .footer-infor__site--list a {
  font: var(--fz-main) "Montserrat", sans-serif;
  color: #FFFFFF;
}
footer .footer-infor__terms--title {
  padding-bottom: 16px;
  color: #9D9D9D;
  font: var(--fz-navtabs) "Montserrat", sans-serif;
}
footer .footer-infor__terms--list a {
  color: #FFFFFF;
  font: var(--fz-main) "Montserrat", sans-serif;
}
footer .footer-infor li:nth-child(1) {
  padding: 16px 0;
}
footer .footer-infor__circle {
  display: flex;
  gap: 16px;
}
footer .footer-infor__circle--item {
  width: 32px;
  height: 32px;
  border: 2px solid #FFFFFF;
  border-radius: 99px;
}
footer .footer-copyright__text {
  padding: 32px 0 33px 0;
  font: 13px "Roboto", sans-serif;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: #F2F2F2;
}

@media only screen and (max-width: 1200px) {
  header .main-nav__list {
    gap: 20px;
  }
  .our-products__tab {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 940px) {
  header .main-nav__icon {
    display: block;
    right: 0;
    margin: 31px 0;
    cursor: pointer;
  }
  header .main-nav__icon:hover {
    color: red;
  }
  header .main-nav__bar {
    height: 0;
    width: 100%;
    position: fixed;
    top: 80px;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    transition: 0.5s;
    overflow: hidden;
  }
  header .main-nav__bar.active {
    height: 240px;
  }
  header .main-nav__bar.active ul {
    opacity: 1;
  }
  header .main-nav__list {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 14px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .swiper-button-prev::after {
    font-size: 25px !important;
  }
  .swiper-button-next::after {
    font-size: 25px !important;
  }
  .feature-products__item.left {
    margin-right: 16px;
  }
  .feature-products__item.right {
    gap: 16px;
  }
  .feature-products__top {
    gap: 16px;
  }
  .our-products__tab {
    padding: 0px 34px;
  }
}
@media only screen and (max-width: 820px) {
  .swiper-button-prev {
    margin-left: 5.5%;
  }
  .swiper-button-next {
    margin-right: 5.5%;
  }
  .our-products__tab {
    padding: 0px 25px;
  }
  .about-us__btn {
    width: 140px;
    height: 45px;
  }
}
@media only screen and (max-width: 760px) {
  .swiper-slide__content {
    left: 21.3%;
  }
  .swiper-slide__text {
    width: 78%;
  }
  .our-products__categories {
    display: none;
  }
  .our-products__select {
    display: block;
    margin: 16px auto;
    text-align: center;
  }
  .our-products__select select {
    width: auto;
    background: none;
  }
  .our-products__select select:hover {
    color: #000000;
  }
  .our-products__option, .our-products select {
    border: none;
    outline: none;
    font-size: var(--fz-navtabs);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: #656565;
  }
}
@media only screen and (max-width: 640px) {
  .feature-products__list {
    display: flex;
    flex-direction: column;
  }
  .feature-products__item.left {
    margin: auto auto 16px auto;
  }
  .about-us__content {
    width: 80%;
  }
  footer .footer-infor {
    padding: 40px 0;
  }
  footer .footer-infor__wrapper {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }
  footer .footer-infor__site, footer .footer-infor__terms {
    text-align: center;
  }
  footer .footer-signup__form {
    width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .swiper-slide__title {
    line-height: 30px;
  }
  .swiper-button-prev::after {
    font-size: 20px !important;
  }
  .swiper-button-next::after {
    font-size: 20px !important;
  }
  .about-us__btn {
    width: 136px;
    height: 40px;
  }
  footer .footer-signup {
    padding: 32px 0;
  }
  footer .footer-signup__form {
    width: 320px;
  }
  footer .footer-signup__form input {
    padding-left: 20px;
  }
  footer .footer-signup__form button {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 350px) {
  header .main-nav__cart {
    padding: 1px 4px;
    border-radius: 9px;
    font-size: 10px;
  }
  .feature-products {
    margin-top: 43px;
  }
  .our-products {
    margin-top: 75px;
  }
  .swiper-slide__title {
    font-size: 23px;
    margin-bottom: 0px;
    line-height: 40px;
  }
  .about-us__title {
    line-height: 20px;
  }
  .about-us__content {
    margin: 10px 0;
  }
  .about-us__btn {
    width: 110px;
    height: 33px;
  }
  footer .footer-signup {
    padding: 16px 0;
  }
  footer .footer-signup__title {
    margin-bottom: 8px;
  }
  footer .footer-signup__form {
    width: 260px;
  }
  footer .footer-signup__form input {
    padding-left: 18px;
  }
  footer .footer-signup__form button {
    padding: 0 18px;
    font-size: 10px;
  }
  footer .footer-infor {
    padding: 30px 0;
  }
  footer .footer-copyright__text {
    padding: 15px 0 16px 0;
  }
}

/*# sourceMappingURL=app.css.map */
